$bungee-hair: 'Bungee Hairline', cursive;
$bungee-inline: 'Bungee Inline', cursive;
$bungee-outline: 'Bungee Outline', cursive;
$cinzel: 'Cinzel Decorative', cursive;
$cookie: 'Cookie', cursive;
$fred: 'Fredericka the Great', cursive;
$lobster: 'Lobster', cursive;
$poiret: 'Poiret One', cursive;
$dots: 'Raleway Dots', cursive;
$unica: 'Unica One', cursive;